<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mail2JIRA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Mail2JIRA.Properties.Settings>
            <setting name="JiraApiUrl" serializeAs="String">
                <value>http://localhost:8090/rest/api/2/</value>
            </setting>
            <setting name="JiraUserName" serializeAs="String">
                <value>fred</value>
            </setting>
            <setting name="JiraPassword" serializeAs="String">
                <value>fred</value>
            </setting>
            <setting name="JiraIssueBrowseUrl" serializeAs="String">
                <value>http://localhost:8090/browse/</value>
            </setting>
            <setting name="JiraDestinationProjectKey" serializeAs="String">
                <value>TEST</value>
            </setting>
            <setting name="JiraDestiantionIssueType" serializeAs="String">
                <value>Bug</value>
            </setting>
        </Mail2JIRA.Properties.Settings>
    </userSettings>
</configuration>